<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238173822948-h235ti0jmodvhktgdro1ni6hhe24fbkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238173822948-h235ti0jmodvhktgdro1ni6hhe24fbkl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>238173822948-3crkcn655b2sl32tg6s1hudoqosb1m1g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSZ6E_JBBIYyir-aYDd-mZ1YXhT0-BCO4</string>
	<key>GCM_SENDER_ID</key>
	<string>238173822948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.procodder</string>
	<key>PROJECT_ID</key>
	<string>procodder-db7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>procodder-db7f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238173822948:ios:e38aa0e3f229b8f09071f1</string>
</dict>
</plist>